{% extends 'layout.html' %}

	{% block title %}
		Album {{album.albumname}} - Amplifi
	{% endblock %}

	{% block content %}
		<h1>Songs of {{album.albumname}}</h1>
		<div class='heading'>
			<h2 class='text-muted'>Songs</h2>
			<a class='btn btn-outline-success' href="{{url_for('add_song_page', album_id=album.id)}}">
				<i class='fas fa-plus fa-xs'></i>
				Add Song
			</a>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Song ID</th>
					<th>Song Name</th>
					<th>Song Duration</th>
					<th>Song Date of Creation</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for song in album.songs %}
				<tr>
					<td>{{song.id}}</td>
					<td>{{song.songname}}</td>
					<td>{{song.songduration}}</td>
					<td>{{song.songdateofcreation}}</td>						
					<td>
						<a class='btn btn-success' href="{{url_for('open_song_page', id=song.id)}}">
							<i class="fas fa-eye fa-xs"></i>
							Open
						</a>
						<a class='btn btn-primary' href="{{url_for('edit_song_page', id=song.id)}}">
							<i class="fas fa-edit fa-xs"></i>
							Edit
						</a>
						<a class="btn btn-danger" href="{{url_for('delete_song_page', id=song.id)}}">
							<i class="fas fa-trash fa-xs"></i>
							Delete
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endblock %}

	{% block style %}
		<style>
			.heading{
				display:flex;
				justify-content: space-between;
				align-items: center;
			}

			h1{
				text-align: center;
			}
		</style>
	{% endblock %}